<% provide(:title, "このサイトについて") %>

<h3 class = "pink">
  Q1.このサイト何？
</h3>
<p>
  A1.性別と誕生日から、余命の秒数を計算します。表示方法は日付とカウントダウンの二種類です。
</p>
<p>
  ホームページに設定して、ネットでの時間浪費対策などに。
</p>
<h3 class = "pink">
  Q2.余命の計算方法は？
</h3>
<p>
  A2.厚生労働省が出している第22回完全生命表の、平均余命の数値を単回帰分析しました。
</p>
<p>
  このサイトの推定余命は30歳〜95歳の人はやや楽観的、それ以外ではやや悲観的に算出されています。
</p>
<h3 class = "pink">
  Q3.リロードしたら、推定寿命が伸びてるんだけど？
</h3>
<p>
  A3.簡単に言うと「あなたと同じ誕生日で、たった今亡くなってしまった人」が外れたためです。
</p>
<p>
  例えば「日本人全員」の平均寿命は80代ですが、「100年以上生きてる日本人だけ」の平均寿命は102歳くらい。
</p>
<p>
  これは「100歳まで生きられなかった日本人」が除外されたためです。
</p>
<h3 class = "pink">
  Q4.これカウント0まで待ったらどうなるの？
</h3>
<p>
  A4.何の機能も作ってません。多分マイナスに突入すると思います。
</p>



<%= link_to :back do %>
  <button>戻る</button>
<% end %>