<% rest_second = rest_of_life_sec @birthday, @jpn_sex %>
<% time_limit = Time.now + rest_second %>
<p>
  <%= "#{my_age_year @birthday}歳#{@jpn_sex}性のあなたの推定タイムリミットは#{time_limit.strftime("%Y年%-m月%-d日")}です。" %>
</p>
<p>
  推定タイムアップまで残り
</p>
<p>
  <h2 id="myTimer", class="pixel_font"><%= rest_second %>sec</h1>
</p>
<%= link_to "誕生日、性別を再入力する", input_path , class: "btn btn-light rounded-pill btn-lg" %>
