<% provide(:title, "入力画面") %>

<%= form_tag("/", method: "get", class: "text-center h6") do %>
<div class="horizon_container">
  生年月日：
  <%= select_date Date.new, 
    prefix: :birthday,
    use_month_numbers: true,
    start_year: Date.today.year - 95,
    end_year: Date.today.year %>
</div>
<div class="horizon_container ">
  性別：
  <%= radio_button_tag(:sex, "male") %>
  <%= label_tag(:sex, "男性") %>
  <%= radio_button_tag(:sex, "female") %>
  <%= label_tag(:sex, "女性") %>
</div>

<%= submit_tag "決定", name: nil, class: "btn btn-light rounded-pill btn-lg" %>
<% end %>
