// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pixel_font{
    font-family: 'Press Start 2P', cursive;
}

.centering{
    // 縦積み
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // 中央寄せ
    justify-content: center;
    align-items: center;
    // 縦100％
    height: 100vh;
}

.right_bottom{
    position: absolute;
    right: 0;
    bottom: 0;
}

.horizon_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pink{
    color: fuchsia;
}