<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background-color: black;
        color: aqua;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

  <body>
    <div class="centering">
      <h1 class="pixel_font">LIMIT</h1>
      <%= yield %>
      <div class="right_bottom">
        <%= link_to "このサイトについて", about_path %>
      </div>  
    </div>
  </body>
</html>
